* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
}

.clear {
	clear: both;
}

.text-white {
	color: white;
}

.text-black {
	color: black;
}

.text-gold {
	color: gold;
}

.text-light-blue {
	color: #00A3D9;
}

.text-light-gray {
	color: #777777;
}

.gold {
	background-color: gold;
}

.light-blue {
	background-color: #00A3D9;
}

.gray {
	background-color: #b4b4b4;
}

.light-gray {
	background-color: #d4d4d4;
}

.mw700 {
	max-width: 700px;
}

.mw960 {
	max-width: 960px;
}

.mw1280 {
	max-width: 1280px;
}

.container {
	width: 100%;
}

.flex {
	display: flex;
	padding: 0 2%;
	margin: 0 auto;
	flex-wrap: wrap;
}

.w50 {
	width: 50%;
}

.w33 {
	width: 33.3%;
}

.w100 {
	width: 100%;
}


.center {
	margin: 0 auto;
	padding: 0 2%;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.order1 {
	order: 1;
}

.order2 {
	order: 2;
}

.order3 {
	order: 3;
}

.s-button {
	display: block;
    	width: 177px;
    	height: 44px;
    	text-decoration: none;
    	margin-top: 20px;
    	line-height: 44px;
    	border-radius: 20px;
	text-align: center;
	color: white;
}
