nav.mobile {
    display: none;
}

section.main {
    background-image: url(../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 0;
    min-height: 800px;
}

section.main header {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.icons-social {
    float: right;
}

.icons-social a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}

.logo {
    float: left;
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
}

nav.desktop {
    float: right;
    margin-top: 35px;
}

nav.desktop ul {
    list-style-type: none;
}

nav.desktop ul li {
    display: inline-block;
    font-size: 17px;
    font-weight: lighter;
    margin: 0 15px;
}

.content-header {
    margin: 80px 0;
}

.content-header h2, .content-header b {
    font-weight: 400;
    font-size: 23px;
}

.content-header p {
    margin-top: 20px;
    font-size: 16px;
}

section.plans h2 {
    font-weight: 400;
    font-size: 25px;
}

section.plans .plans-calls {
    padding: 20px 2%;
}

section.box-plans {
    padding: 60px 0;
}

section.box-plans > .center {
    display: flex;
    flex-wrap: nowrap;
}

section.box-plans .box-single {
    width: 33.3%;
    padding: 0 40px;
}

section.box-plans .box-single h2 {
    font-weight: lighter;
    padding: 3px;
    margin-bottom: 10px;
}

section.box-plans .box-single p {
    padding: 3px 20px;
}

section.box-plans .box-single i {
    margin: 0 10px;
}

section.box-plans .price {
    margin-top: 10px;
    padding: 15px 0;
}

section.box-plans .price h2 {
    font-size: 24px;
    padding: 0 20px;
    display: inline-block;
    border-top: 1px solid #ccc;
}

section.box-plans .box-wrapper {
    border: 1px solid #ccc;
    width: 100%;
    min-height: 300px;
    box-shadow: 20px 20px 10px 0px rgba(0,0,0,0.1);
}

section.parallax {
    width: 100%;
    min-width: 300px;
    background-image: url(../assets/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.parallax > .center {
    max-width: 960px;
    padding: 40px 2%;
}

section.parallax p {
    margin-top: 15px;
}

section.parallax h2, section.parallax b {
    font-weight: 400;
    font-size: 25px;
}

@media screen and (max-width: 1152px) {

    section.box-plans > .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section.box-plans .box-single {
        width: 100%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 512px) {

    header {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        float: none;
        margin: 0 auto;
    }
    
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }
}
