section.main {
    background-image: url(../assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 0;
    min-height: 800px;
}

section.main header {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.icons-social {
    float: right;
}

.icons-social a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}

.logo {
    float: left;
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
}

nav.desktop {
    float: right;
    margin-top: 35px;
}

nav.desktop ul {
    list-style-type: none;
}

nav.desktop ul li {
    display: inline-block;
    font-size: 17px;
    font-weight: lighter;
    margin: 0 15px;
    transition: 0.4s;
}

nav ul li a {
    text-decoration: none;
}

nav.mobile {
    display: none;
    float: right;
}

nav.mobile ul {
    z-index: 1;
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.4);
}

nav.mobile ul li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

nav.mobile > i {
    font-size: 25px;
    cursor: pointer;
    position: relative;
    top: 16px;
}

.content-header {
    margin: 80px 0;
    padding: 0 4%;
}

.content-header a {
    transition: 750ms;
    border: 1px solid #00A3D9;
}

.content-header a:hover {
    background-color: white;
    color: #00A3D9;
    border: 1px solid #00A3D9;
}

.content-header h2, .content-header b {
    font-weight: 400;
    font-size: 23px;
}

.content-header p {
    margin-top: 20px;
    font-size: 16px;
}

section.plans h2 {
    font-weight: 400;
    font-size: 25px;
}

section.plans .plans-calls {
    padding: 20px 4%;
}

section.box-plans {
    padding: 60px 0;
}

section.box-plans > .center {
    display: flex;
    flex-wrap: nowrap;
}

section.box-plans .box-single {
    width: 33.3%;
    padding: 0 40px;
}

section.box-plans .box-single h2 {
    font-weight: lighter;
    padding: 3px;
    margin-bottom: 10px;
}

section.box-plans .box-single p {
    padding: 3px 20px;
}

section.box-plans .box-single i {
    margin: 0 10px;
}

section.box-plans .price {
    margin-top: 10px;
    padding: 15px 0;
}

section.box-plans .price h2 {
    font-size: 24px;
    padding: 0 20px;
    display: inline-block;
    border-top: 1px solid #ccc;
}

section.box-plans .box-wrapper {
    border: 1px solid #ccc;
    width: 100%;
    min-height: 300px;
    box-shadow: 20px 20px 10px 0px rgba(0,0,0,0.1);
}

section.parallax {
    width: 100%;
    background-image: url(../assets/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.parallax > .center {
    max-width: 960px;
    padding: 40px 4%;
}

section.parallax p {
    margin-top: 15px;
}

section.parallax h2, section.parallax b {
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
}

section.input-team {
    margin-top: 40px;
}

section.input-team h2,
section.input-team b {
    font-size: 24px;
    font-weight: 400;
    position: relative;
}

section.input-team .contact input:not([type=submit]) {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

section.input-team .contact textarea {
    resize: vertical;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    height: 150px;
}

section.input-team .contact input[type=submit] {
    border: 0;
    cursor: pointer;
    border: 1px solid #00A3D9;
    transition: 750ms;
}

section.input-team .contact input[type=submit]:hover {
    background-color: white;
    color: #00A3D9;
    border: 1px solid #00A3D9;
}

section.input-team input:focus, section.input-team textarea:focus {
    outline: 0;
}

section.input-team .w50 {
    float: left;
    padding: 0px 15px 40px 15px;
}

section.input-team .line-ef {
    width: 15%;
    max-width: 360px;
    height: 2px;
    position: absolute;
    transition: 750ms;
}

section.input-team h2:hover > .line-ef {
    width: 100%;
}

section.input-team .team .box {
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px 8px;
    min-height: 400px;
}

section.input-team .team .topbox {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

section.input-team .team .author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

section.input-team .team .one {
    background-image: url(https://wallpapers-clan.com/wp-content/uploads/2022/09/one-piece-pfp-4.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

section.input-team .team .two {
    background-image: url(https://i.pinimg.com/736x/74/a7/44/74a7445006058cf765a198f3bc463353.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

section.input-team .team .author-info {
    display: inline-block;
    padding-left: 8px;
    vertical-align: middle;
}

section.input-team .team .author-desc p {
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

section.input-team .box {
    width: 46%;
    margin: 0 2%;
}

footer {
    width: 100%;
    padding: 10px 2%;
}

@media screen and (max-width: 1152px) {

    section.box-plans > .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section.box-plans .box-single {
        width: 100%;
        margin-bottom: 40px;
    }

    section.input-team .contact input[type=submit] {
        margin: 10px auto;
        width: 100px;
    }

    section.input-team .w50 {
        width: 100%;
        margin-top: 40px;
    }

    section.input-team .box {
        width: 100%;
        margin: 0 auto;
        min-height: 0 !important;
    }

    section.input-team .team h2 {
        margin-left: 0;
    }
}

@media screen and (max-width: 512px) {

    header {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        float: none;
        margin: 0 auto;
    }

    .icons-social {
        display: none;
    }
    
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    .content-header h2, .content-header b {
        font-size: 15px;
    }

    .content-header p {
        font-size: 13px;
    }

    .content-header a {
        font-size: 13px;
        width: 125px;
        line-height: 40px;
    }

    section.box-plans .box-wrapper h2 {
        font-size: 20px;
    }

    section.box-plans .box-wrapper p {
        font-size: 15px;
    }

    section.plans h2 {
        font-size: 18px;
    }

    section.box-plans .price h2 {
        font-size: 21px;
        padding-top: 10px;
    }
    
    section.parallax h2, section.parallax b {
        font-size: 15px;
    }

    section.parallax p {
        font-size: 13px;
    }
    
    section.input-team h2,
    section.input-team b {
        font-size: 18px;
    }

    section.input-team .team .author-info p {
        font-size: 13px;
    }
}
